main {
    font-family: 'Roboto Mono', monospace;
    min-width: 300px;
    min-height: 300px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffcccc;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between ;
    /* flex-wrap: wrap; */
    min-height: 3rem;
    /* transition: 1s; */
}


.fadeOut {
    color: rgba(0,0,0,0);
    transition: color 2s; 
}

.fadeIn {
    transition: 3s ease-in ;
}

.openCorner {
    clip-path: circle(110% at 50% 0%);
    transition: 0.3s ease-in, color 2s ease-in ;
}

.closeCorner {
    /* background-color: rgba(0,0,0,0); */
    
    min-height: 6rem;
    clip-path: circle(3em at calc(100% - 3rem) 50%);
    transition: 0.8s ease-out; 
}


#burger {
    margin-inline: 2.1rem;
}

#burger:hover {
    filter: invert(100%) drop-shadow(1px 1px 0px black)
}

.btn {
    display: flex;
    /* flex-direction: column;/ */
}

.noDisplay {
    display: none;
}

#headerText * {
    /* background-color: #ffaaaa; */
    margin: 5px;
}

#headerText {
    background-color: #ffbbbb;
}

button {
    margin: 1px 10px;
    border: none;
    width: 6em;
    color: red;
}

button:hover {
    background-color: aliceblue;
    color: black;
}
