main {
    min-width: 300px;
    min-height: 300px;
}

header {
    background-color: #ffcccc;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between ;
    /* flex-wrap: wrap; */
    transition: 0.5s;
    clip-path: circle(100% at 100% 0%);
}

header:hover {
    clip-path: circle(5rem at 100% 0%);
    transition: 0.5s;
}



#burger {
    margin-inline: 10px
}

.btn {
    display: flex;
    /* flex-direction: column;/ */
    margin-inline: 10px;
}

.noDisplay {
    display: none;
}


#headerText {
    background-color: #ffbbbb;
}

#headerText * {
    background-color: #ffaaaa;
    margin: 1px;
}


button {
    margin: 1px 10px;
    border: none;
    width: 6em;
    color: red;
}

button:hover {
    background-color: aliceblue;
    color: black;
}
